@use "variables";

.footer {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  margin-top: 5rem;

  background-image: linear-gradient(
      rgba(variables.$backgroundColor, 0.4),
      rgba(variables.$backgroundColor, 0.6)
    ),
    url(../../dist/images/footer.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  @media (max-width: 500px) {
    background-image: linear-gradient(
        rgba(variables.$backgroundColor, 0.4),
        rgba(variables.$backgroundColor, 0.6)
      ),
      url(../../dist/images/footer_mobile.png);
  }

  &__title {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: variables.$textColor;
      padding-bottom: 0.4rem;
      padding-top: 1rem;
      line-height: 1.6;

      &:hover {
        color: variables.$textHover;
        border-bottom: 1px solid variables.$textHover;
      }
    }
    &__item {
      p {
        padding-top: 4rem;
      }
    }
  }
}
