@use "variables";

.header {
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;

  background-image: url(../../dist/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  margin-bottom: 10rem;

  @media (max-width: 960px) {
    background-image: url(../../dist/images/hero_tablet.png);
  }

  @media (max-width: 500px) {
    background-image: url(../../dist/images/hero_mobile.jpg);
    margin-bottom: 5rem;
  }

  &__title {
    text-transform: uppercase;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    font-weight: 600;

    @media (max-width: 300px) {
      font-size: 1.5rem;
      padding: 3rem 1.5rem 1.5rem 1.5rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: end;

    &__icon {
      padding: 1.5rem;
    }
  }

  &__list {
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: rgba(variables.$backgroundColor, 0.7);

    &__item {
      list-style: none;
      padding-bottom: 1.5rem;

      a {
        text-decoration: none;
        color: variables.$textColor;
        padding-bottom: 0.4rem;

        &:hover {
          color: variables.$textHover;
          border-bottom: 1px solid variables.$textHover;
        }
      }
    }
  }
}
