$backgroundColor: #010005;
$textColor: #f8fafc;
$textHover: #fbfcfd;
$tagColor: #343337;

@font-face {
  font-family: Gotham;
  src: url(../../assets/fonts/GothamLight.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url(../../assets/fonts/GothamMedium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Gotham;
  src: url(../../assets/fonts/GothamBold.ttf);
  font-weight: 700;
}
